# Python
__pycache__/
*.py[cod]
*.so

# Conda environment
/env/
/venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Logs and output files
*.log
*.out
*.h5
*.ckpt

# Model checkpoints and datasets
/outputs/
/data/

# VS Code settings
.vscode/
